certifi==2026.1.4
charset-normalizer==3.4.4
gitdb==4.0.12
GitPython==3.1.41
greenlet==3.3.0
idna==3.11
pytz==2025.2
requests==2.32.5
setuptools==78.1.1
smmap==5.0.2
SQLAlchemy==2.0.45
typing_extensions==4.15.0
urllib3==2.6.3
